body {
	margin: 0;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #000;
}

a img {
	border: none;
}

a,#navEZPagesTOC ul li a {
	color: #069;
	text-decoration: none;
}

a:hover,#navEZPagesTOC ul li a:hover,#navMain ul li a:hover,#navSupp ul li a:hover,#navCatTabs ul li a:hover
	{
	color: #28c;
	text-decoration: underline;
}

a:active {
	color: #0000FF;
}

h1 {
	font-size: 1.4em;
}

h2 {
	font-size: 1.3em;
}

h3 {
	font-size: 1.3em;
}

h4,h5,h6,LABEL,h4.optionName,LEGEND,ADDRESS,.sideBoxContent,.larger {
	font-size: 1.1em;
}

.biggerText {
	font-size: 1.2em;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0.3em;
}

CODE {
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 1em;
}

FORM,SELECT,INPUT {
	display: inline;
	font-size: 1em;
	margin: 0.1em;
}

TEXTAREA {
	margin: auto;
	display: block;
	width: 95%;
}

input:focus,select:focus,textarea:focus {
	background: #F0F8FF;
}

FIELDSET {
	padding: 0.5em;
	margin: 0.5em 0em;
	border: 1px solid #cccccc;
}

LEGEND {
	font-weight: bold;
	padding: 0.3em;
}

LABEL,h4.optionName {
	line-height: 1.25em;
	padding: 0.1em;
}

LABEL.checkboxLabel,LABEL.radioButtonLabel {
	font-size: 1em;
	margin: 0.2em 0.5em;
}

#logo,.centerBoxContents,.specialsListBoxContents,.categoryListBoxContents,.centerBoxContentsAlsoPurch,.attribImg {
	float: left;
}

LABEL.inputLabel {
	font-size: 1em;
	width: 10em;
	float: left;
}

LABEL.inputLabelPayment {
	width: 15em;
	float: left;
}

LABEL.selectLabel,LABEL.switchedLabel,LABEL.uploadsLabel {
	width: 12em;
	float: left;
}

P,ADDRESS {
	padding: 0.5em;
}

ADDRESS {
	font-style: normal;
}

.clearBoth {
	clear: both;
}

HR {
	height: 1px;
	margin-top: 0.5em;
	border: none;
	border-bottom: 1px solid #9a9a9a;
}
/*warnings, errors, messages*/
.messageStackWarning,.messageStackError,.messageStackSuccess,.messageStackCaution {
	line-height: 1.8em;
	padding: 0.2em;
	border: 1px dashed #ccc;
}

.messageStackWarning,.messageStackError {
	background-color: #fff;
	color: #f00;
}

.messageStackSuccess {
	background-color: #fff;
	color: #070;
}

.messageStackCaution {
	background-color: #fff;
	color: #aa0;
}
/*wrappers - page or section containers*/
#mainWrapper {
	background-color: #ffffff;
	text-align: left;
	width: 1000px;
	vertical-align: top;
}

#headerWrapper,#contentMainWrapper,#logoWrapper,#cartBoxListWrapper,#ezPageBoxList,#cartBoxListWrapper ul,#ezPageBoxList ul,#mainWrapper,#popupAdditionalImage,#popupImage {
	margin: 0em;
	padding: 0em;
}

#navColumnOneWrapper,#navColumnTwoWrapper,#mainWrapper {
	margin: auto;
}

#tagline {
	color: #000;
	font-size: 2em;
	text-align: center;
	vertical-align: middle;
}

#sendSpendWrapper {
	border: 1px solid #cacaca;
	float: right;
	margin: 0em 0em 1em 1em;
}

.floatingBox,#accountLinksWrapper,#sendSpendWrapper,#checkoutShipto,#checkoutBillto,#csNotifications,#navEZPagesTOCWrapper
	{
	margin: 10px 0px;
	width: 46%;
}

.wrapperAttribsOptions {
	margin: 0.3em 0em;
}

/*navigation*/
.navSplitPagesResult {
    margin: 0.2em;
    font-size: 1.1em;
}

.navSplitPagesLinks {
	margin: 0.2em;
	font-size: 1.1em;
	font-weight: bold;
}

.navNextPrevCounter {
	margin: 0em;
	font-size: 1.1em;
}

.navNextPrevList {
	display: inline;
	white-space: nowrap;
	margin: 0;
	padding: 0.5em 0em;
	list-style-type: none;
}

#navMainWrapper,#navSuppWrapper,#navCatTabsWrapper {
	margin: 0em;
	background-color: #ffffff;
	font-weight: bold;
	color: #9a9a9a;
	height: 1%;
	width: 100%;
}

#navMain ul,#navSupp ul,#navCatTabs ul {
	margin: 0;
	padding: 0.5em 0em;
	list-style-type: none;
	text-align: center;
	line-height: 1.5em;
}

#navMain ul li,#navSupp ul li,#navCatTabs ul li {
	display: inline;
	white-space: nowrap;
}

#navMain ul li a,#navSupp ul li a,#navCatTabs ul li a {
	text-decoration: none;
	padding: 0em 0.5em;
	margin: 0;
	color: #9a9a9a;
}

#navEZPagesTOCWrapper {
	font-weight: bold;
	float: right;
	height: 1%;
	border: 1px solid #000000;
}

#navEZPagesTOC ul {
	margin: 0;
	padding: 0.5em 0em;
	list-style-type: none;
	line-height: 1.5em;
}

#navEZPagesTOC ul li {
	white-space: nowrap;
}

#navEZPagesTOC ul li a {
	padding: 0em 0.5em;
	margin: 0;
}

#navMainSearch,#navCategoryIcon,.buttonRow,#indexProductListCatDescription 	{
	margin: 0.5em;
}

#navBreadCrumb {
	font-size: 1.1em;
	margin: 0em;
	padding: 0em 0.7em 0.1em 0.5em;
}

#navEZPagesTop {
	background-image: url(../images/tile_back.jpg);
	background-repeat: repeat-x;
	border: 1px solid #9a9a9a;
}

#navEZPagesTop {
	font-size: 1.1em;
	font-weight: bold;
	margin: 0em;
	padding: 0.5em;
}

#navColumnOne {
	padding: 0.5em;
	border-left: 1px solid #cccccc;
}

#navColumnTwo {
	padding: 0.5em;
	border-right: 1px solid #cccccc;
}

/*The main content classes*/
#contentColumnMain,#navColumnOne,#navColumnTwo,.centerBoxContents,.specialsListBoxContents,.categoryListBoxContents,.additionalImages,.centerBoxContentsSpecials,
.centerBoxContentsAlsoPurch,.centerBoxContentsFeatured,.centerBoxContentsNew,.alert {
	vertical-align: top;
}

#leftColumn {
	float: left;
	border: 0px solid #000;
}

#productDescription,.shippingEstimatorWrapper {
	padding: 0.5em;
}

#productQuantityDiscounts {
	
}

#productQuantityDiscounts table {
	padding: 0px;
	margin: 4px;
	border-left: 1px dashed #ccc;
	border-top: 1px dashed #ccc;
	border-bottom: 0px dashed #ccc;
	border-right: 0px dashed #ccc;
}

#productQuantityDiscounts .disc_qty {
	color: #900;
}

#productQuantityDiscounts table .header_center {
	background-color: #e8e8e8;
}

#productQuantityDiscounts table td {
	padding: 4px;
	border-right: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
	border-left: 0px;
	border-top: 0px;
}

#productPrices {
	padding: 4px;
	text-align: left;
}

.alert {
	color: #FF0000;
	margin-left: 0.1em;
	font-size: 1.1em;
}

.advisory {
	
}

.important {
	font-size: 1.2em;
}

.notice {
	
}

.rating {
	
}

.gvBal {
	float: right;
}

.centerColumn,#bannerOne,#bannerTwo,#bannerThree,#bannerFour,#bannerFive,#bannerSix
	{
	padding: 0.8em;
}

.smallText,#siteinfoLegal,#siteinfoCredits,#siteinfoStatus,#siteinfoIP {
	font-size: 1em;
}

/*Shopping Cart Display*/
#cartAdd {
	float: left;
	text-align: center;
	margin: 4px;
	border: 1px dashed #ccc;
	padding: 1em;
	/*	background-image:url(../images/sidebox_search_hd_grey.png);
*/
}

.cartTableHeading TH {
	border-bottom: 1px solid #cccccc;
}

.cartTableHeading,#cartSubTotal {
	background-color: #e9e9e9;
	height: 2.2em;
}

#cartSubTotal {
	border-top: 1px solid #cccccc;
	font-weight: bold;
	text-align: right;
	line-height: 2.2em;
	padding-right: 2.5em;
}

.cartProductDisplay,.cartUnitDisplay,.cartTotalDisplay,.cartRemoveItemDisplay,.cartQuantityUpdate,.cartQuantity,#cartInstructionsDisplay,.cartTotalsDisplay {
	padding: 0.5em 0em;
}

.cartUnitDisplay,.cartTotalDisplay {
	text-align: right;
	padding-right: 0.2em;
}

#scUpdateQuantity {
	width: 2em;
}

.cartQuantity {
	width: 4.7em;
}

#shoppingcartContent {
	padding: 0px 5px;
}

.cartNewItem {
	color: #555;
	position: relative; /*do not remove-fixes stupid IEbug*/
}

.cartOldItem {
	color: #555;
	position: relative; /*do not remove-fixes stupid IEbug*/
}

.cartBoxTotal {
	text-align: right;
	padding-right: 5px;
}

.cartRemoveItemDisplay {
	width: 3.5em;
}

#cartAttribsList {
	margin-left: 1em;
}

.priceList {
	height: 41px;
}

.priceList td {
	font-family: Impact, Arial, Helvetica, sans-serif;
	font-size: 20px;
	vertical-align: bottom;
	padding: 12px 4px 0px 0px;
	text-align: right !important;
}

.priceList tr {
	vertical-align: bottom;
}

.normalprice,.productSpecialPriceSale {
	text-decoration: line-through;
}

.productSpecialPrice,.productSalePrice,.productSpecialPriceSale,.productPriceDiscount {
	color: #f00;
}

.priceList .normalpriceEx {
	width: 69px;
	background-image: url(../images/bg_prc_yellow.png);
	background-repeat: no-repeat;
}

.priceList .productSpecialPriceEx {
	width: 69px;
	background-image: url(../images/bg_prc_red_sale.png);
	background-repeat: no-repeat;
	color: #fff;
}

.priceList .productSpecialPriceSaleEx {
	width: 69px;
	background-image: url(../images/bg_prc_red_sale.png);
	background-repeat: no-repeat;
	color: #fff;
}

.priceList  .productSalePriceEx {
	width: 69px;
	color: #fff;
	background-image: url(../images/bg_prc_red_sale.png);
	background-repeat: no-repeat;
}

.priceList  .productPriceDiscountEx {
	width: 69px;
	color: #fff;
	background-image: url(../images/bg_prc_red_pricedrop.png);
	background-repeat: no-repeat;
}

#cartBoxListWrapper ul,#ezPageBoxList ul {
	list-style-type: none;
}

#cartBoxListWrapper li,#ezPageBoxList li,.cartBoxTotal {
	margin: 0;
	padding: 0.2em 0em;
}

.totalBox {
	width: 5.5em;
	text-align: right;
	padding: 0.2em;
}

.lineTitle,.amount {
	text-align: right;
	padding: 0.2em;
}

.amount {
	width: 5.5em;
}

/*Image Display*/
#productMainImage,#reviewsInfoDefaultProductImage,#productReviewsDefaultProductImage,#reviewWriteMainImage {
	margin: 0px 10px 10px 0px;
}

#productMainImage {
	min-width: 250px;
	vertical-align: middle;
}

.categoryIcon {
	
}

#cartImage {
	margin: 0.5em 1em;
}

/*Attributes*/
.attribImg {
	width: 20%;
	margin: 0.3em 0em;
}

.attributesComments {
	
}

.centerBoxContents,.specialsListBoxContents,.categoryListBoxContents,.additionalImages,.centerBoxContentsSpecials,.centerBoxContentsAlsoPurch,
.centerBoxContentsFeatured,.centerBoxContentsNew {
	margin: 1em 0em;
}

h2.centerBoxHeading,.productListing-rowheading {
	margin: 0em;
	background-image: url(../images/tile_back.jpg);
	font-size: 1.1em;
	font-weight: bold;
	color: #ffffff;
	padding: 0.5em 0.2em;
	border-bottom: 1px solid #9a9a9a;
}

.centerBoxWrapper,.tabTable {
	padding: 0px;
	height: 1%; /*do not remove- IEhack*/
	border: 0px solid #9a9a9a;
	margin-bottom: 1em;
}

.sideBoxContent { /*background-color: #ffffff;
	padding: 0.4em;*/
	
}

h3.leftBoxHeading a:hover {
	color: #FFFF33;
	text-decoration: none;
}

h3.rightBoxHeading a:hover {
	color: #FF0000;
	text-decoration: none;
}

.rightBoxContent {
	background-color: #ffffff;
	margin-bottom: 1.1em;
}

.centeredContent,TH,#cartEmptyText,#cartBoxGVButton,#navNextPrevWrapperTop,#navNextPrevWrapperBottom,#navCatTabsWrapper,#navEZPageNextPrev,#bannerOne,#bannerTwo,#bannerThree,#bannerFour,#bannerFive,#bannerSix,#siteinfoLegal,#siteinfoCredits,#siteinfoStatus,#siteinfoIP,.center,.cartRemoveItemDisplay,.cartQuantityUpdate,.cartQuantity,.cartTotalsDisplay,#cartBoxGVBalance,.leftBoxHeading,.centerBoxHeading,.rightBoxHeading,.productListing-data,.accountQuantityDisplay,.ratingRow,LABEL#textAreaReviews,#productMainImage,#reviewsInfoDefaultProductImage,#productReviewsDefaultProductImage,#reviewWriteMainImage,.centerBoxContents,.specialsListBoxContents,.categoryListBoxContents,.additionalImages,.centerBoxContentsSpecials,.centerBoxContentsAlsoPurch,.centerBoxContentsFeatured,.centerBoxContentsNew,.gvBal,.attribImg
	{
	text-align: center;
	font-size: 1.1em;
}

#bestsellers .wrapper {
	margin: 0em 0em 0em 1.5em;
}

#bestsellers ol {
	padding: 0;
	margin-left: 1.1em;
}

#bestsellers li {
	padding: 0;
	margin: 0.3em 0em 0.3em 0em;
}

#bannerboxHeading {
	background-color: #0000CC;
}

#upProductsHeading {
	text-align: left;
}

#upDateHeading {
	text-align: right;
}
/*misc*/
.back {
	float: left;
}

.forward {
	float: right;
}

.bold {
	font-weight: bold;
}

CAPTION { /*display: none;*/
	
}

#myAccountGen li,#myAccountNotify li {
	margin: 0;
}

.accountTotalDisplay,.accountTaxDisplay {
	width: 20%;
	text-align: right;
	/*vertical-align: top*/
}

.accountQuantityDisplay {
	width: 10%;
	vertical-align: top
}

TR.tableHeading {
	background-color: #cacaca;
	height: 2em;
}

#siteMapList {
	width: 90%;
	float: right;
}

.ratingRow {
	margin: 1em 0em 1.5em 0em;
}

LABEL#textAreaReviews {
	font-weight: normal;
	margin: 1em 0em;
}

#popupShippingEstimator,#popupSearchHelp,#popupAdditionalImage,#popupImage,#popupCVVHelp,#popupCouponHelp,#popupAtrribsQuantityPricesHelp {
	background-color: #ffffff;
}

.prctable {
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	text-align: center;
	vertical-align: middle;
	margin: 2px;
}

.prctable thead td {
	background-color: #e7e7e7;
	font-weight: bold;
}

.prctable td {
	border-bottom: 1px solid #808080;
	border-right: 1px solid #808080;
}

.prctablecap {
	background-color: #e7e7e7;
	text-align: center;
	padding: 0px 4px 0px 4px;
	font-weight: bold;
}

.prctabledesc {
	text-align: left;
	padding: 0px 4px 0px 4px;
}

.itemname {
	color: #333;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
}

.itemfeature_title {
	font-size: 1.1em;
	font-weight: bold;
	color: #ffffff;
	background-color: #AEAEAE;
	padding-left: 10px;
}

.itemfeature {
	font-size: 1.1em;
	list-style-position: outside;
	list-style-type: square;
}

.ptable {
	border-bottom: 1px solid #ccc;
}

.ptable tr {
	vertical-align: top;
}

.zebraTable {
	width: 1000px;
	border: 1px solid #ccc;
	text-align: left; 
}

.zebraTable .rowOdd {
	background-color: #F0F0F0;
	height: 1.5em;
	vertical-align: top;
}

.zebraTable .rowEven {
	background-color: #E8E8E8;
	height: 1.5em;
	vertical-align: top;
}

.uniformTable {
	width: 1000px;
	border: 0px;
	text-align: left; 
}

.printInfoTable {
	width: 1000px;
	border: 2px solid #303030;
	text-align: left; 
}

.printTable {
	width: 1000px;
	border: 2px solid #303030;
	text-align: center; 
}

.printTable tr, .printInfoTable tr {
	vertical-align: middle;
}

.printTable th, .printInfoTable th {
	font-weight: bold;
	background-color: #FFFFFF;
	padding: 0px 0px;	
	border-bottom: 1px solid #303030;
	border-right: 1px solid #303030;
	height: 2.0em;
	font-size: 1.4em
}

.printTable td, .printInfoTable td {
	padding: 0px 0px; 
	border-bottom: 1px solid #303030;
	border-right: 1px solid #303030;
	height: 2.0em;
	font-size: 1.4em
} 

.printTable .rowOdd, .printInfoTable .rowOdd {
	background-color: #FFFFFF;
	vertical-align: top;
}

.printTable .rowEven, .printInfoTable .rowEven {
	background-color: #FFFFFF;
	vertical-align: top;
}

.listbox_center {
	overflow: auto;
	/*width: 100%;*/
	height: 60px;
	border-left: 1px gray solid;
	border-bottom: 1px gray solid;
	border-top: 1px gray solid;
	border-right: 1px gray solid;
	padding: 0px;
	margin: 0px;
}

